# Data transformation

In [1]:
import pandas as pd
import seaborn as sns
from google.colab import files
sns.set()

In [2]:
uploaded = files.upload()

Saving AmesHousing.csv to AmesHousing.csv

In [3]:
ames_housing = pd.read_csv("AmesHousing.csv")
ames_housing.head()

   Order        PID  MS SubClass  ... Sale Type  Sale Condition  SalePrice
0      1  526301100           20  ...       WD           Normal     215000
1      2  526350040           20  ...       WD           Normal     105000
2      3  526351010           20  ...       WD           Normal     172000
3      4  526353030           20  ...       WD           Normal     244000
4      5  527105010           60  ...       WD           Normal     189900

[5 rows x 82 columns]

> Should any of the cells above fail, contact the maintainers of scikit-zero ;)

Peeking the first rows we can see that this is a very large dataset w.r.t. number of features. Let's check how many samples it has:

In [4]:
ames_housing.shape

(2930, 82)

> Kinda like iris, right? ðŸ¤£

Let's start isolating the feature we would like to predict from the input features:

In [5]:
X = ames_housing.drop(["SalePrice"], axis=1)
y = ames_housing["SalePrice"]

> Note that the feature we want to predict is real-valued, so we have a **regression** problem.

To make our analysis a bit more practical for the purposes of this notebook, we'll **filter out** features according to some pre-defined criteria:
* features that are clearly unrelated to the target feature;
* features that present more than 90% of missing values;
* features with low variance:
    * Categorical features: the most ocurring value is in more than 90% of the samples.
    * Numerical features: the 90% quantile matches the median.
    
> Note that this filtering is specific to this notebook and could likely represent a premature decision in the machine learning modeling process. We do it here to make the dataset a bit simpler. For this reason also, we pre-identified these features rather than computing them in the notebook.

In [6]:
unrelated = ["Order", "PID", "MS SubClass"]
many_missing = ["Pool QC", "Misc Feature", "Alley"]
low_variance_nominal = ['Paved Drive', 'Electrical', 'Functional', 'Central Air', 'Land Slope', 'Heating', 'Roof Matl', 'Condition 2']
low_variance_ordinal = ['Garage Cond', 'Street', 'Utilities']
low_variance_numerical = ["Low Qual Fin SF", "Bsmt Half Bath", "Full Bath", "Kitchen AbvGr",
                          "Fireplaces", "3Ssn Porch", "Screen Porch", "Pool Area", "Misc Val"]

In [7]:
X = X.drop(unrelated + many_missing +
           low_variance_nominal + low_variance_ordinal,
           axis=1)

> Even with this filtering, this dataset is still quite complex. In real life, we would never go for modelling before having conducted an exploratory data analysis. Here, we are making things a bit simplistic since we're skipping that, but bear with me :)

In [8]:
X.shape

(2930, 64)

## Encoding ordinal features

To properly prepare the data for modelling, the first thing we need to do is isolate feature types. This is very important, since different types of feature demand different preparation techniques. From a quick look at the data, I have isolated the following three feature subsets:

> If you don't understand the difference between feature types, check [pandas-zero](https://github.com/leobezerra/pandas-zero). 

> If you do, notice that a few ordinal features are being listed as nominal. The reason is that we do not have a rich data dictionary available, and for those features it was not straightforward to understand the ranking implied by the values.

In [9]:
nominal = ["MS Zoning", "Lot Shape", "Land Contour",  "Lot Config", 
           "Neighborhood", "Condition 1", "Bldg Type", "House Style", 
           "Roof Style", "Exterior 1st", "Exterior 2nd", "Mas Vnr Type", 
           "Foundation", "BsmtFin Type 1", "BsmtFin Type 2", "Garage Type", 
           "Fence", "Sale Type", "Sale Condition", "Bsmt Exposure", "Garage Finish"]

ordinal = ["Exter Qual", "Exter Cond", "Bsmt Qual", "Bsmt Cond",  "Heating QC",
           "Kitchen Qual", "Fireplace Qu", "Garage Qual"]

numerical = ["Lot Frontage", "Lot Area", "Year Built", "Year Remod/Add", "Mas Vnr Area",
             "BsmtFin SF 1", "BsmtFin SF 2", "Bsmt Unf SF", "Total Bsmt SF", "1st Flr SF",
             "2nd Flr SF", "Low Qual Fin SF", "Gr Liv Area", "Bsmt Full Bath", "Bsmt Half Bath", 
             "Full Bath", "Half Bath", "Bedroom AbvGr", "Kitchen AbvGr", "TotRms AbvGrd",
             "Fireplaces", "Garage Yr Blt", "Garage Cars", "Garage Area", "Wood Deck SF",
             "Open Porch SF", "Enclosed Porch", "3Ssn Porch", "Screen Porch", "Pool Area",
             "Misc Val", "Mo Sold", "Yr Sold", "Overall Cond", "Overall Qual"]

Let's temporarily isolate the ordinal features to see how we can prepare them:

In [10]:
X_ordinal = X[ordinal]
X_ordinal.head()

  Exter Qual Exter Cond Bsmt Qual  ... Kitchen Qual Fireplace Qu Garage Qual
0         TA         TA        TA  ...           TA           Gd          TA
1         TA         TA        TA  ...           TA          NaN          TA
2         TA         TA        TA  ...           Gd          NaN          TA
3         Gd         TA        TA  ...           Ex           TA          TA
4         TA         TA        Gd  ...           TA           TA          TA

[5 rows x 8 columns]

Checking these features a bit we see that they follow a ranking pattern:
0. `TA`: to be assessed
1. `Po`: poor
2. `Fa`: fair
3. `Gd`: good
4. `Ex`: excellent

The encoding we apply to ordinal features is converting each ranking category into an integer, so that higher ranks are represented by larger values. 

> `TA` is equivalent to a missing value, and we'll rank it 0. Again, this could be premature, but it's a reasonable choice here.

Encoding ordinal features in scikit-learn can be done with the `OrdinalEncoder` preprocessor from the `preprocessing` module:

In [12]:
from sklearn.preprocessing import OrdinalEncoder

`OrdinalEncoder` takes as input a list of lists: 
- one list per feature
- each list should indicate the ranking of the categories

For our example, the same list can be used to indicate the ranking of the categories:

In [13]:
conditions = ["TA", "Po", "Fa", "Gd", "Ex"]

One limitation of `OrdinalEncoder` is that we cannot indicate that the same list will be used for multiple features. To replicate the list as many times as the number of features we have, we're gonna use the list comprehension notation we've discussed back in pandas-zero:

> the `for i in range(n_features)` means we will have `n_features` repetitions of `conditions`

In [14]:
n_features = X_ordinal.shape[1]
condition_lists = [conditions for i in range(n_features)]

We can now create our encoder for ordinal features:

In [15]:
condition_encoder = OrdinalEncoder(categories=condition_lists)

Another limitation of `OrdinalEncoder` is that it cannot be applied to data with missing values. For this reason, we're gonna use a pipeline where we first impute `'TA'` to the missing values, and then apply the encoding:

In [16]:
from sklearn.impute import SimpleImputer
condition_imputer = SimpleImputer(strategy="constant", fill_value="TA")

In [17]:
from sklearn.pipeline import make_pipeline
ordinal_pipe = make_pipeline(condition_imputer, condition_encoder)

When we use a pipeline solely for data preparation, we use `fit()` and `transform()`, rather than `fit()` and `predict()`. In this case, we'll make it simpler and use `fit_transform()` directly:

> Note that we wrap the output of the pipeline in a `DataFrame` object and preserve the column values.

In [18]:
X_ordinal = pd.DataFrame(ordinal_pipe.fit_transform(X_ordinal), columns=X_ordinal.columns)
X_ordinal.head()

   Exter Qual  Exter Cond  Bsmt Qual  ...  Kitchen Qual  Fireplace Qu  Garage Qual
0         0.0         0.0        0.0  ...           0.0           3.0          0.0
1         0.0         0.0        0.0  ...           0.0           0.0          0.0
2         0.0         0.0        0.0  ...           3.0           0.0          0.0
3         3.0         0.0        0.0  ...           4.0           0.0          0.0
4         0.0         0.0        3.0  ...           0.0           0.0          0.0

[5 rows x 8 columns]

Now our ordinal features have been encoded properly, and we can move on to nominal features.

## Encoding nominal features

Once again, let's start isolating our nominal features:

In [19]:
X_nominal = X[nominal]
X_nominal.head()

  MS Zoning Lot Shape Land Contour  ... Sale Condition Bsmt Exposure Garage Finish
0        RL       IR1          Lvl  ...         Normal            Gd           Fin
1        RH       Reg          Lvl  ...         Normal            No           Unf
2        RL       IR1          Lvl  ...         Normal            No           Unf
3        RL       Reg          Lvl  ...         Normal            No           Fin
4        RL       IR1          Lvl  ...         Normal            No           Fin

[5 rows x 21 columns]

In [20]:
X_nominal.shape

(2930, 21)

The most common approach to nominal feature encoding is called **one-hot encoding**. Let's take feature `Lot Shape` as example:

In [21]:
X_nominal["Lot Shape"].value_counts(dropna=False)

Reg    1859
IR1     979
IR2      76
IR3      16
Name: Lot Shape, dtype: int64

With one-hot encoding, feature `Lot Shape` gets replaced by binary features, one for each of the possible values presented by `Lot Shape`. Let's start importing the scikit-learn resources we're gonna need:

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

The `make_column_transformer` from the `compose` module allows us to specify encodings for specific features.

- Let's understand the code below:
```python 
nominal_encoder = make_column_transformer(
                                            (OneHotEncoder(sparse=False), ["Lot Shape"]),
                                            remainder="drop")
```
> The `sparse=False` attribute indicates that the output should be a regular numpy array, rather than a more efficient scipy sparse matrix. Even if the former is less efficient, it is more readable and helps to keep the notebook understandable.

- Creates the column transformer, specifying that a `OneHotEncoder()` should be applied to `["Lot Shape"]`, and that the remainder of the features should be dropped. 
```python 
encoded_data = nominal_encoder.fit_transform(X_nominal)
```
- Applies the `fit_transform()` method to `X_nominal`. 
```python
encoded_data = pd.DataFrame(encoded_data,
                              columns=nominal_encoder.get_feature_names())
```
- Wrap the numpy array as a DataFrame, retrieving the feature names created by the encoder.

Let's see the output of that:

In [23]:
nominal_encoder = make_column_transformer(
                                          (OneHotEncoder(sparse=False), ["Lot Shape"]),
                                          remainder="drop")
encoded_data = nominal_encoder.fit_transform(X_nominal)
encoded_data = pd.DataFrame(encoded_data,
                            columns=nominal_encoder.get_feature_names())
encoded_data.head()

   onehotencoder__x0_IR1  ...  onehotencoder__x0_Reg
0                    1.0  ...                    0.0
1                    0.0  ...                    1.0
2                    1.0  ...                    0.0
3                    0.0  ...                    1.0
4                    1.0  ...                    0.0

[5 rows x 4 columns]

Note that the features are now labeled as a function of the feature values. For each sample, only one of the enconded feature values equals 1.0, since that was the original value before the encoding.

> You can imagine that this type of encoding explodes the number of features in a dataframe, right? Let's see by how much!

In [24]:
nominal_pipe = make_pipeline(SimpleImputer(strategy="most_frequent"), OneHotEncoder(sparse=False))
pd.DataFrame(nominal_pipe.fit_transform(X_nominal),
             columns=nominal_pipe.steps[1][1].get_feature_names(nominal))

      MS Zoning_A (agr)  ...  Garage Finish_Unf
0                   0.0  ...                0.0
1                   0.0  ...                1.0
2                   0.0  ...                1.0
3                   0.0  ...                0.0
4                   0.0  ...                0.0
...                 ...  ...                ...
2925                0.0  ...                1.0
2926                0.0  ...                1.0
2927                0.0  ...                1.0
2928                0.0  ...                0.0
2929                0.0  ...                0.0

[2930 rows x 165 columns]

> Note that we could have used better strategies than a `SimpleImputer(strategy='most_frequent')`, but that would make the notebook even longer ðŸ™ƒ

## Preparing numerical features

When dealing with numerical features, our major concerns regard the data scale and distribution. Scikit-learn offers several resources to address these issues, as we'll see below.

### Feature scaling

A very important aspect in data preprocessing concerns feature scaling. Take an algorithm that considers Euclidean distances, such as kNN. If a feature has much larger values than another, the relative importance of these features will be unbalanced. Sometimes, this comes in your favor, since the features with larger values are indeed the most important. Other times, your model will be undervaluing the most relevant features.

Several scaling techniques can be used to make different features present the same scale, but they only make sense when we're talking about numerical features. For now, let's isolate the numerical features from the remaining.

In [25]:
X_num = X[numerical]
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...  Yr Sold  Overall Cond  Overall Qual
0         141.0     31770        1960  ...     2010             5             6
1          80.0     11622        1961  ...     2010             6             5
2          81.0     14267        1958  ...     2010             6             6
3          93.0     11160        1968  ...     2010             5             7
4          74.0     13830        1997  ...     2010             5             5

[5 rows x 35 columns]

In [ ]:
X_num.shape

Note that now we're working with 35 features. Let's move on to the techniques so we can understand our options.

#### Fitting to a range

The first thing we notice about the numerical features of this dataset is that feature ranges are very different. Let's check, for instance, the range differences between features `Overall Qual`, `Year Built`, and `Gr Liv Area`:

In [26]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].describe()

       Overall Qual   Year Built  Gr Liv Area
count   2930.000000  2930.000000  2930.000000
mean       6.094881  1971.356314  1499.690444
std        1.411026    30.245361   505.508887
min        1.000000  1872.000000   334.000000
25%        5.000000  1954.000000  1126.000000
50%        6.000000  1973.000000  1442.000000
75%        7.000000  2001.000000  1742.750000
max       10.000000  2010.000000  5642.000000

We can scale all features to the `[0,1]` range using the `MinMaxScaler` preprocessor:

In [27]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
X_num = pd.DataFrame(minmax.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...  Yr Sold  Overall Cond  Overall Qual
0      0.410959  0.142420    0.637681  ...      1.0         0.500      0.555556
1      0.202055  0.048246    0.644928  ...      1.0         0.625      0.444444
2      0.205479  0.060609    0.623188  ...      1.0         0.625      0.555556
3      0.246575  0.046087    0.695652  ...      1.0         0.500      0.666667
4      0.181507  0.058566    0.905797  ...      1.0         0.500      0.444444

[5 rows x 35 columns]

Note that now the min and max values for each feature now match:

In [28]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].describe()

       Overall Qual   Year Built  Gr Liv Area
count   2930.000000  2930.000000  2930.000000
mean       0.566098     0.719973     0.219610
std        0.156781     0.219169     0.095235
min        0.000000     0.000000     0.000000
25%        0.444444     0.594203     0.149209
50%        0.555556     0.731884     0.208742
75%        0.666667     0.934783     0.265401
max        1.000000     1.000000     1.000000

> Note how the range scaling made the means of `Year Built` and `Gr Liv Area` different, when they were originally very close!

#### Centering the data

Another transformation commonly applied to numerical data is centering the data so it presents zero mean. We can do this transformation with the `StandardScaler` preprocessor, following the same pattern adopted above:

In [29]:
from sklearn.preprocessing import StandardScaler
zero_mean = StandardScaler(with_std=False)
X_num = pd.DataFrame(zero_mean.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...   Yr Sold  Overall Cond  Overall Qual
0      0.245806  0.101064   -0.082292  ...  0.552389     -0.070392     -0.010542
1      0.036902  0.006890   -0.075046  ...  0.552389      0.054608     -0.121653
2      0.040327  0.019253   -0.096785  ...  0.552389      0.054608     -0.010542
3      0.081423  0.004731   -0.024321  ...  0.552389     -0.070392      0.100569
4      0.016354  0.017210    0.185824  ...  0.552389     -0.070392     -0.121653

[5 rows x 35 columns]

> The parameter `with_std` defines whether `StandardScaler` also scales the variance. Here we disabled it not to spoil the next topic ðŸ˜…

After the transformation, all features present zero mean:

In [30]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].describe()

       Overall Qual    Year Built   Gr Liv Area
count  2.930000e+03  2.930000e+03  2.930000e+03
mean   6.970154e-17 -8.813579e-17  8.127742e-18
std    1.567807e-01  2.191693e-01  9.523528e-02
min   -5.660978e-01 -7.199733e-01 -2.196101e-01
25%   -1.216534e-01 -1.257704e-01 -7.040136e-02
50%   -1.054228e-02  1.191077e-02 -1.086858e-02
75%    1.005688e-01  2.148093e-01  4.579117e-02
max    4.339022e-01  2.800267e-01  7.803899e-01

> Computers have a big trouble matching exact numbers when dealing with real values. The values shown in the mean column above are small enough to be considered zero by most algorithms.

#### Scaling the variance

A final transformation that is often applied to numerical data is scaling the variance of the data to one. 

> It is so common that the `StandardScaler` preprocessor does it by default! Since we're doing it step-wisely, we will tell the preprocessor it doesn't need to center the data again (`with_mean=False`).

In [31]:
unit_variance = StandardScaler(with_mean=False)
X_num = pd.DataFrame(unit_variance.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...   Yr Sold  Overall Cond  Overall Qual
0      3.072506  2.744381   -0.375537  ...  1.678499     -0.506718     -0.067254
1      0.461265  0.187097   -0.342468  ...  1.678499      0.393091     -0.776079
2      0.504073  0.522814   -0.441674  ...  1.678499      0.393091     -0.067254
3      1.017759  0.128458   -0.110988  ...  1.678499     -0.506718      0.641571
4      0.204422  0.467348    0.848000  ...  1.678499     -0.506718     -0.776079

[5 rows x 35 columns]

After the transformation, all features present unit variance:

> And, by definition, unit standard deviation!

In [32]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].var()

Overall Qual    1.000341
Year Built      1.000341
Gr Liv Area     1.000341
dtype: float64

In [33]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].describe()

       Overall Qual    Year Built   Gr Liv Area
count  2.930000e+03  2.930000e+03  2.930000e+03
mean   9.806717e-16 -1.566816e-16  1.610771e-16
std    1.000171e+00  1.000171e+00  1.000171e+00
min   -3.611379e+00 -3.285571e+00 -2.306368e+00
25%   -7.760788e-01 -5.739484e-01 -7.393623e-01
50%   -6.725371e-02  5.435434e-02 -1.141430e-01
75%    6.415714e-01  9.802742e-01  4.809036e-01
max    2.768047e+00  1.277891e+00  8.195734e+00

#### Using pipelines

As discussed in the first steps with scikit-learn, pipelines are the best way to combine all the steps in a machine learning experiment. Here, we're gonna use them to encapsulate all the transformations applied to numerical features:

In [34]:
from sklearn.impute import KNNImputer
num_pipe = make_pipeline(KNNImputer(), MinMaxScaler(), StandardScaler())

X_num = X[numerical]
X_num = pd.DataFrame(num_pipe.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...   Yr Sold  Overall Cond  Overall Qual
0      3.144741  2.744381   -0.375537  ...  1.678499     -0.506718     -0.067254
1      0.446548  0.187097   -0.342468  ...  1.678499      0.393091     -0.776079
2      0.490780  0.522814   -0.441674  ...  1.678499      0.393091     -0.067254
3      1.021573  0.128458   -0.110988  ...  1.678499     -0.506718      0.641571
4      0.181152  0.467348    0.848000  ...  1.678499     -0.506718     -0.776079

[5 rows x 35 columns]

In [35]:
X_num[["Overall Qual", "Year Built", "Gr Liv Area"]].describe()

       Overall Qual    Year Built   Gr Liv Area
count  2.930000e+03  2.930000e+03  2.930000e+03
mean   9.806717e-16 -1.566816e-16  1.569469e-16
std    1.000171e+00  1.000171e+00  1.000171e+00
min   -3.611379e+00 -3.285571e+00 -2.306368e+00
25%   -7.760788e-01 -5.739484e-01 -7.393623e-01
50%   -6.725371e-02  5.435434e-02 -1.141430e-01
75%    6.415714e-01  9.802742e-01  4.809036e-01
max    2.768047e+00  1.277891e+00  8.195734e+00

### Transforming distributions

The scaling conducted above does not affect the distribution shape of the data. From many aspects, having the data distributed according to a normal distribution is desirable. 

> In pandas-zero, we discussed how to transform a logarithmic distribution into a normal distribution.

> We also discussed how to check if a distribution differs from a normal distribution. Tip: the second value in each parenthesis should be greater than or equal to 0.05.

In [36]:
from scipy.stats import normaltest
X_num.apply(normaltest)

    Lot Frontage     Lot Area  ...  Overall Cond  Overall Qual
0   1.073949e+03  5287.955695  ...  2.386285e+02     17.880610
1  6.237926e-234     0.000000  ...  1.522235e-52      0.000131

[2 rows x 35 columns]

Scikit-learn offers two preprocessing components to transform distributions into normal distributions, which we discuss next.

#### Quantization

Quantization is the act of replacing a feature value for the quantile it belongs to. This is a non-parametric transformation that can be mapped to different distributions. scikit-learn provides the `QuantileTransformer` preprocessor, where we can configure the desired output distribution using the `output_distribution` argument:

In [37]:
from sklearn.preprocessing import QuantileTransformer
num_pipe = make_pipeline(KNNImputer(),
                         MinMaxScaler(),
                         StandardScaler(),
                         QuantileTransformer(output_distribution='normal'))

X_num = X[numerical]
X_num = pd.DataFrame(num_pipe.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...   Yr Sold  Overall Cond  Overall Qual
0      2.435512  2.293377   -0.418371  ...  5.199338      -0.41290      0.007527
1      0.616541  0.688795   -0.384375  ...  5.199338       0.31765     -1.278137
2      0.708752  1.276491   -0.499230  ...  5.199338       0.31765      0.007527
3      1.233962  0.574549   -0.160010  ...  5.199338      -0.41290      0.615025
4      0.248427  1.194699    0.504922  ...  5.199338      -0.41290     -1.278137

[5 rows x 35 columns]

In [38]:
X_num.apply(normaltest)

    Lot Frontage  Lot Area    Year Built  ...   Yr Sold   Overall Cond  Overall Qual
0   7.673138e+02  9.565326  2.909403e+01  ...  0.208019   1.165202e+03  3.341217e+02
1  2.398480e-167  0.008374  4.811849e-07  ...  0.901217  9.542087e-254  2.795033e-73

[2 rows x 35 columns]

From the results above, we see that only the `Yr Sold` feature is now matched with a normal distribution.

> Note, however, that the p-value (second value in each parenthesis) increases for most features, indicating that the transformed distributions are closer to a normal distribution than the original ones.

#### Power transformations

These parametric transformations are similar in spirit to the logarithmic transformation we discussed in pandas-zero. scikit-learn provides two options within the `PowerTransformer` preprocessor:

* the Yeo-Johnson transform, which works for positive and negative values;
* the Box-Cox transform, which only works for strictly positive values.

Since we have centered the data, we have to use the Yeo-Johnson transform (the default method for `PowerTransform`):

In [39]:
from sklearn.preprocessing import PowerTransformer
num_pipe = make_pipeline(KNNImputer(), 
                         MinMaxScaler(),
                         StandardScaler(),
                         PowerTransformer())

X_num = X[numerical]
X_num = pd.DataFrame(num_pipe.fit_transform(X_num), columns=X_num.columns)
X_num.head()

   Lot Frontage  Lot Area  Year Built  ...   Yr Sold  Overall Cond  Overall Qual
0      2.669279  2.541096   -0.537217  ...  1.616676     -0.452481     -0.022186
1      0.525415  0.577464   -0.507706  ...  1.616676      0.482078     -0.765380
2      0.566562  1.012291   -0.595214  ...  1.616676      0.482078     -0.022186
3      1.037903  0.488387   -0.290255  ...  1.616676     -0.452481      0.667296
4      0.270930  0.947835    0.864076  ...  1.616676     -0.452481     -0.765380

[5 rows x 35 columns]

In [40]:
X_num.apply(normaltest)

   Lot Frontage      Lot Area  ...  Overall Cond  Overall Qual
0  1.922360e+02  1.606552e+02  ...  3.015079e+02      4.574009
1  1.805022e-42  1.300691e-35  ...  3.375938e-66      0.101570

[2 rows x 35 columns]

This time, `Yr Sold` does not match a normal distribution. Yet, a larger number of features do, namely `Overall Qual`, `1st Flr SF`, `Gr Liv Area`, and `TotRms AbvGrd`.

## Wrapping it all

Although we should always deal with features according to their type, we can prepare our data without having to split our dataset as we did above:

In [41]:
full_pipe = make_column_transformer(
                                    (ordinal_pipe, ordinal),
                                    (nominal_pipe, nominal),
                                    (num_pipe, numerical)
                                    )

In order to access feature names produced by the process of transforming nominal features, we'll fit that pipeline to the data, even if we're not gonna use it to transform the data:

In [42]:
nominal_pipe.fit(X[nominal])
nominal_encoder = nominal_pipe.steps[1][1] # this accesses the OneHotEncoder within the pipeline
nominal_transformed = nominal_encoder.get_feature_names(nominal).tolist()

The feature names for the whole dataset will be the concatenation of the following features:

In [43]:
column_names = ordinal + nominal_transformed + numerical

We can now transform the data, preserving the dataframe feature names and therefore its readibility:

In [44]:
X_transformed = pd.DataFrame(full_pipe.fit_transform(X),
                             columns=column_names)
X_transformed.head()

   Exter Qual  Exter Cond  Bsmt Qual  ...   Yr Sold  Overall Cond  Overall Qual
0         0.0         0.0        0.0  ...  1.616676     -0.452481     -0.022186
1         0.0         0.0        0.0  ...  1.616676      0.482078     -0.765380
2         0.0         0.0        0.0  ...  1.616676      0.482078     -0.022186
3         3.0         0.0        0.0  ...  1.616676     -0.452481      0.667296
4         0.0         0.0        3.0  ...  1.616676     -0.452481     -0.765380

[5 rows x 208 columns]